@model List<BookFinderProject.Models.Book>
@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Show</h2>
@foreach(var book in Model)
            {
                @Html.Partial("_BookInfo", book)
            }
