
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>

<div class="container">
    <h3 class="text-primary">What is Lexile Level?</h3>
    <p>A popular method used by schools to measure a student reader's ability is Lexile level or a Lexile Measure. A Lexile measure is a valuable tool for teachers, parents, and students. It serves two unique functions: it is the measure of how difficult a text is OR a student's reading ability level. The Lexile Framework was developed by MetaMetrics©, an educational assessment and research team, funded originally by the National Institute of Child Health and Human Development.</p>

    <h4 class="text-primary">What Does Lexile Score Mean?</h4>
    <p>A student receives his or her Lexile measure from one of two ways: taking a school-administered SRI (Scholastic Reading Inventory) test, which is specifically designed to measure Lexile or reading ability OR by taking a standardized reading test which converts the reader's results to a Lexile measure. If a student gets a 550L then he or she is a 550 level Lexile reader. 550L is the measure of his or her readability level. It is important to note it is never called a score! This encourages student achievement.</p>

    <h4 class="text-primary">How to Find a Child's Lexile Level?</h4>
    <p>The Lexile level will always be shown as a number with an “L” after it — for example 770L = 770 Lexile. The higher the Lexile measure, the higher the student's reading level. The reader's Lexile Framework works in intervals of five with 5L being the lowest. The highest possible measure is 2000L. Anything below 5L is assessed as a BR or Beginning Reader.</p>

    <h4 class="text-primary">How to Find the Lexile of a Book?</h4>
    <p>A book's Lexile measure is analyzed by MetaMetrics©. After a text is assessed, it is given a measure like that of a student's readability level, 600L for example. In this measure, MetaMetrics© is assessing the text's difficulty level. A book or magazine at a 500L has a Lexile Level of 500. MetaMetrics© predicts and assesses how difficult a text will be for a reader to comprehend. The two main criteria it tests are word frequency and sentence strength. A text's Lexile Framework works in increments of 10 with 10L being the lowest. Measures below 10L are classified as BR or Beginning Reader.</p>

    <h4 class="text-primary">Lexile Levels in Practice</h4>
    <p>The ideal for both reader and text is to match both their assessed Lexile measure. For example, a book or magazine with a 770L and a reader assessed at a Lexile level of 770. The reading levels per classroom are wide-ranging and varied. There are many factors that go into matching a student to his or her ideal text. The Lexile Framework is a good place to start in picking the right book at the right Lexile level as it targets areas in need of intervention and encourages achievement across grade levels and curricula.</p>

    <h4 class="text-primary">How to Find Books on Your Child's Lexile Level?</h4>
    <p>Lexile levels are scientifically and mathematically assigned based on the difficulty and readability of a book. Once you know your child's Lexile level, you can search for books that match this level to expand your home library and encourage daily reading practice in your own home. Use the Lexile database to search by Lexile level, title, or subject to find books your child will enjoy and be able to read without becoming discouraged at his or her reading achievement. Use the chart below to compare Lexile Levels with other leveled reading systems:</p>
    <img src="https://www.scholastic.com/content/dam/parents/migrated-assets/articles/body-text-images/Guided%20Reading%20Chart.PNG" alt="Guided reading level chart" class="img-thumbnail"/>
</div>
